<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<h1>Welcome to MERL, <%= @name %></h1>
	<p>To login to the site, please follow this <a href="https://merl.tedco.md/signin">link</a>. If you have any questions, please feel free to <a href="mailto:lsaffer@tedco.md">contact</a> me.</p>
	<p>
		Best,
		Linda Saffer
		Program Manager
		Maryland Entrepreneurs Resource List
	</p>
</body>
</html>