<% provide(:title, @user.name) %>
<div class="row">
	<div class="small-12 large-centered columns">
		<div class="large-9 columns">
			<h1><%= @user.name %></h1>
		</div>
		<div class="large-2 columns text-center">
			<%= image_tag("merl.png") %>
		</div>
</div>

